.banner{
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    padding-top: 80px;

    &__info{
        width: 450px;
        padding-top: 91px;

    }

    &__title{
        font-weight: 800;
        font-size: 60px;
    }

    &__p{
        font-weight: 500;
        font-size: 18px;
        margin-top: 0;
        line-height: 146.4%;
        padding-top: 10px;

    }

    &__form{

        color: #818181;
        background-color: white;
        border-radius: 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 59px;
        width: 40%;
        margin-left: 10%;
        padding-top: 59px;
        padding-left: 75px;
        padding-right: 75px;

        box-shadow: 5px 5px 12px 12px rgba(0, 0, 0, 0.05);

        &--big{
            width: 50%;
            margin: 0 auto;
            align-items: flex-start;
        }

        &--a{
            text-align: center;
            padding-top: 10px;
            font-weight: 400;
            font-size: 15px;
            line-height: 128.4%;

        }

        &--group{
            display: flex;
        flex-wrap: wrap;
        margin-top: 7px;
        }

    }

    &__card{

        &--height{
            height: 150px;
        }
    }

    &__cards{
        display: flex;
        height: 500px;
        justify-content: center;
        width: 100%;
        padding-top: 40px;

        &--flex{
            display: flex;
            align-items: center;
            align-content: center;

        }

        &--color{
            background-color: white;
        }

        &--card{
            color: white;
            border-radius: 27px;
            padding: 29px;
            margin-right: 10px;
            width: 28%;
        }

        &--purple{
            background-color: #6700A9;
        }

        &--orange{
            background-color: #FE9800;

        }
        &--green{
            background-color: #0FB000;

        }
        &--clearGreen{
            background-color:#8EC543;
        }
    
    }
}