.button {
    background-color: #126a3a;
    color: white;

    width: auto;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-weight: 800;
    font-size: 14px;

    border-radius: 41px;
    border-color: transparent;
    cursor: pointer;

    filter: drop-shadow(3px 6px 12px rgba(0, 74, 47, 0.19));

    &--width {
        width: 100%;
    }

    &--small {
        margin-top: 0;
        width: fit-content;
        margin-left: 10px;
    }

    &--big {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 42%;
        padding-top: 15px;
        text-align: center;
    }

    &--simple {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 40%;
        padding-top: 15px;
        text-align: center;
    }
    &--a {
        padding: 15px;
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 59px;
        margin-top: 0;
        width: fit-content;
    }

    &--disable {
        color: white;
        background-color: #c4c4c4;
        width: auto;
        height: 50px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 20px;
        margin-bottom: 20px;

        font-weight: 800;
        font-size: 14px;

        border-radius: 41px;
        border-color: transparent;

        &:hover {
            background-color: #c4c4c4;
        }
    }

    &--border {
        height: 50px;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 800;
        font-size: 14px;

        border-radius: 41px;
        border: solid;
        background-color: transparent;
        border-color: #126a3a;
        color: #126a3a;

        &:hover {
            background-color: #126a3a1b;
        }
    }

    &:hover {
        background-color: #0f5a31;
    }
}

.button:hover {
}
