.dashboard{

    background-color: white;

    &__content{
        display: flex;
        margin-top: 50px;
    }

    &__info{
        display: flex;
        justify-content: space-between;
    }

    &__stages{
        width: 244px;
        background-color:  rgba(217, 217, 217, 0.333);
        padding: 15px;
        border-radius: 10px;

    }

}