.dashboard {
    background-color: white;

    &__desc {
        width: auto;
        background-color: rgba(217, 217, 217, 0.333);
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 500px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    &__stages {
        width: 244px;
        background-color: rgba(217, 217, 217, 0.333);
        padding: 15px;
        border-radius: 10px;

        &--info {
            padding-bottom: 0;
            margin-bottom: 20px;
        }
    }

    &__empty {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url("../imgs/fondo2.png");
        height: 500px;
    }

    &__search {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }

    &__methodology {
        display: flex;
        justify-content: space-around;

        &--wrap {
            flex-wrap: wrap;
        }

        &--intro {
            color: white;
            width: 100%;
            height: 391px;
            padding-left: 2%;
            padding-right: 4%;
            border-radius: 27px 27px 0px 0px;
            align-items: flex-end;
        }

        &--info {
            width: 35%;
            padding-bottom: 80px;
        }

        &--level {
            width: 20%;
            padding-bottom: 80px;
            opacity: 0.08;
        }

        &--features {
            width: 230px;
            //background-color: rgba(217, 217, 217, 0.333);
            background-color: #8EC543;
            padding: 15px;
            margin-top: 50px;
            border-radius: 10px;
            height: min-content;
        }

        &--caution{
            margin-bottom: 40px;
            padding-top: 15px;
            background-color: beige;
            padding: 30px;
            border-radius: 10px;
            margin-top: 10px;
        }

        &--move{
            position: sticky;
            top: 150px;
            z-index: 12;

        }

        &--steps {
            padding: 40px;
            max-width: 50%;
            text-align: justify;
        }

        &--card {
            padding-bottom: 15px;
        }
    }

    &--content {
        background-color: white;
        height: auto;
        display: flex;
        padding-left: 6%;
        padding-right: 6%;
        justify-content: space-evenly;
    }

    &--flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        &--group {
            display: flex;
            align-items: center;
        }

        &--groupTwo {
            display: flex;
        }


        &--linear {
            align-items: flex-start;
            flex-direction: column;
        }

        &--content {
            justify-content: space-around;
            margin-top: 50px;
        }
    }

    &__space {
        margin-right: 10px;
        width: 23%;
    }
}
