.icono{
    display: flex;
    &__trash{
        background-image: url("../imgs/trash-fill.svg");
        height: 60px;
        cursor: pointer;
        margin-left: 20px;

    }

    &__edit{
        background-image: url("../imgs/pencil-fill.svg");
        height: 60px;
        cursor: pointer;
        margin-left: 16px;


    }
}