.images{

    &--small{
        width: 10%;
    }

    &--medium{

        height: auto;
    }

    &--big{
        width: 100%;
    }

    &--icon{

        position: absolute;
        display: flex;
        width: 96%;
        padding-bottom: 50px;
        top: -10px;
        justify-content: flex-end;
    }

    &__resume{
        background-image: url("../arbolCompromisos.png");
        
    }
}