.images {
    padding-top: 6%;

    &--small {
        width: 10%;
    }

    &--medium {
        height: auto;
    }

    &--big {
        width: 100%;
    }

    &--icon {
        position: absolute;
        display: flex;
        width: 96%;
        padding-bottom: 50px;
        top: -10px;
        justify-content: flex-end;
    }

    &--background {
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &--special {
        background-image: url("../imgs/ilusTemplates.png");
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
