.methodology{

    &--steps{
        display: flex;
        padding: 15px;

        
    }

    &--question{
        display: flex;
        padding: 15px;

        
    }
    &--number{
        padding-right: 15px;
    }
}