.section {
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 6%;

    &__img {
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 6%;
        color: white;
        height: 590px;
        background-image: url("../imgs/fondoAso.png");
        line-height: 1.8;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__background {
        background-image: url("../imgs/backgroundGreen.png");

        &--green {
            background-color: #5c9247;
        }

        &--darkGreen {
            background-color: #126a3a;
        }

        &--other {
            background-color: #126a3a;
        }
    }

    &__text {
        padding-top: 3%;
    }

    &__tam {
        width: 400px;
    }

    &__flex {
        display: flex;
        width: 100%;

        &--card {
            width: 50%;
            padding: 80px;
            color: white;
        }
    }
}
