:root {
    --circle-size: clamp(1.8rem, 2vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
  }
  
  .c-stepper__item {
    position: relative;
    display: flex;
    gap: 1rem;
    padding-bottom: 1em;
  
    &:before {
      content: "";
      flex: 0 0 var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
     

    }
  
    &:not(:last-child) {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(var(--circle-size) + var(--spacing));
        bottom: var(--spacing);
        z-index: 1;
        transform: translateX(calc(var(--circle-size) / 2));
        width: 2px;
        background-color: lightgrey;
      }
    }
  }

  .c-stepper__item--active {
  
    &:before {
      background-color:rgba(142, 197, 67, 0.07);
      border-color: #126A3A;
      border: 2px solid #126A3A;
    }
  
    &:not(:last-child) {
      &:after {
        background-color: #126A3A;
      }
    }
  }

  .c-stepper__item--check{
    &:before {
      background-image: url(../imgs/check.svg);
      background-size: contain;
    }
  }

  .c-stepper__add{
    color:#126A3A;
    display: flex;
    cursor: pointer; 

    &--img{
      margin-right: 5px;
    }

  }
  
  .c-stepper__title {
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-bottom: clamp(0.85rem, 2vmax, 1rem);
    padding-top: 5px;
    cursor: pointer; 


  }
  
  .c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vmax, 1rem);
    margin-bottom: 15px;
  }
  
  .c-stepper__content {
    max-width: 700px;
  }
  
  /*** Non-demo CSS ***/
  
  .wrapper {
    max-width: 1000px;
    margin: 2rem auto 0;
  }
  
  :before,
  :after {
    box-sizing: border-box;
  }