@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.link {
  color: #126a3a;
}

.linea{
  border: 1px solid rgba(92, 146, 71, 0.2);
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 20px;

}

body{
  background-color: #5C9247
}

.content{
  background-color: #5C9247;
  background-image: url("../imgs/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 130px;

  &--white{
  background-color: white;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 150px;
  border-radius: 27px;
  padding-top: 14px;
  height: 60%;

  }

  &--margin{

    margin-top: 13px;
    height: 50px;

  }
}

a:hover {
  color: #8EC543;
  cursor: pointer; 
}


.hidden {
  display: none !important;
}

@import "./nav";
@import "./banner";
@import "./button";
@import "./input";
@import "./textStyles";
@import "./card";
@import "./dashboard";
@import "./quadrant";
@import "./filter";
@import "./images";
@import "./modal";
@import "./methodology";
@import "./productForm";
@import "./stepper";
@import "./section";
@import "./list";
@import "./icono"