@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.link {
  color: #126A3A;
}

a:hover {
  color: #818181;
}

body {
  background-color: #5C9247;
  background-image: url("../imgs/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.hidden {
  display: none !important;
}

.nav {
  color: white;
  background-color: #5C9247;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 35px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.nav__logo {
  width: 125px;
}
.nav__logo--img {
  width: 100%;
}
.nav__element {
  padding-left: 40px;
}

.banner {
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  padding-top: 110px;
}
.banner__info {
  width: 450px;
  padding-top: 91px;
}
.banner__title {
  font-weight: 800;
  font-size: 60px;
}
.banner__p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  line-height: 146.4%;
  padding-top: 10px;
}
.banner__form {
  color: #818181;
  background-color: white;
  border-radius: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 59px;
  width: 40%;
  margin-left: 10%;
  padding-top: 59px;
  padding-left: 75px;
  padding-right: 75px;
  box-shadow: 5px 5px 12px 12px rgba(0, 0, 0, 0.05);
}
.banner__form--a {
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 128.4%;
}

.button {
  background-color: #126A3A;
  color: white;
  width: auto;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 41px;
  border-color: transparent;
  filter: drop-shadow(3px 6px 12px rgba(0, 74, 47, 0.19));
}
.button--width {
  width: 100%;
}

.button:hover {
  background-color: #8EC543;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  margin-top: 5px;
  border: 1px solid #818181;
  border-radius: 14px;
}
.input__label {
  width: 100%;
  font-weight: 600;
  padding-top: 20px;
}

.textStyles__title {
  color: #5C9247;
}
.card {
  background-color: #126A3A;
  background-image: url("../imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  color: white;
  width: 360px;
  height: 200px;
  padding: 20px;
  box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.18);
  border-radius: 29px;
}
.card__states {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.card__states--level {
  display: flex;
}
.card__states--figure {
  background-color: #FE9800;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  margin-right: 10px;
}
.card__states--progress {
  background-color: #8EC543;
  border-radius: 7px;
  padding: 3px;
  width: auto;
}
.card__progress {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card__progress--background {
  background-color: #188D4D;
  border-radius: 7px;
  width: 92%;
  height: 20px;
}
.card__progress--progressBar {
  background-color: white;
  border-radius: 7px;
  width: 40px;
  height: 20px;
}

.dashboard {
  background-color: white;
}
.dashboard__content {
  display: flex;
  margin-top: 50px;
}
.dashboard__info {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */