@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.link {
  color: #126a3a;
}

.linea {
  border: 1px solid rgba(92, 146, 71, 0.2);
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

body {
  background-color: #5C9247;
}

.content {
  background-color: #5C9247;
  background-image: url("../imgs/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 6%;
  padding-right: 6%;
}
.content--white {
  background-color: white;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 150px;
  border-radius: 27px;
  padding-top: 14px;
  height: 1122px;
}

a:hover {
  color: #8EC543;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.nav {
  color: white;
  background-color: #5C9247;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding-left: 6%;
  padding-right: 7%;
  padding-bottom: 30px;
}
.nav--main {
  justify-content: flex-start;
}
.nav__logo {
  width: 125px;
}
.nav__logo--img {
  width: 100%;
}
.nav__element {
  margin-left: 40px;
  padding-bottom: 3px;
}
.nav__element:hover {
  color: #126A3A;
}
.nav__menu {
  display: inline-flex;
  align-items: center;
}
.nav__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.banner {
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  padding-top: 80px;
}
.banner__info {
  width: 450px;
  padding-top: 91px;
}
.banner__title {
  font-weight: 800;
  font-size: 60px;
}
.banner__p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 0;
  line-height: 146.4%;
  padding-top: 10px;
}
.banner__form {
  color: #818181;
  background-color: white;
  border-radius: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 59px;
  width: 40%;
  margin-left: 10%;
  padding-top: 59px;
  padding-left: 75px;
  padding-right: 75px;
  box-shadow: 5px 5px 12px 12px rgba(0, 0, 0, 0.05);
}
.banner__form--big {
  width: 50%;
  margin: 0 auto;
  align-items: flex-start;
}
.banner__form--a {
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 128.4%;
}
.banner__form--group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}

.button {
  background-color: #126a3a;
  color: white;
  width: auto;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 41px;
  border-color: transparent;
  filter: drop-shadow(3px 6px 12px rgba(0, 74, 47, 0.19));
}
.button--width {
  width: 100%;
}
.button--simple {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40%;
  padding-top: 15px;
  text-align: center;
}
.button--border {
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 41px;
  border: solid;
  background-color: transparent;
  border-color: #126a3a;
  color: #126a3a;
}
.button--border:hover {
  background-color: rgba(18, 106, 58, 0.1058823529);
}
.button:hover {
  background-color: #0f5a31;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  margin-top: 5px;
  border: 1px solid #818181;
  border-radius: 14px;
}
.input__label {
  width: 100%;
  font-weight: 600;
  padding-top: 20px;
}
.input__label--description {
  height: 60px;
}
.input__number {
  width: 40%;
}

.textStyles__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}
.textStyles__title--3 {
  font-size: 64px;
}
.textStyles__title--2 {
  font-size: 32px;
  padding-top: 20px;
}
.textStyles__title--1 {
  font-size: 24px;
  padding-bottom: 20px;
}
.textStyles__title--level {
  font-size: 104px;
}
.textStyles__body {
  font-size: 16px;
  font-weight: 500;
}
.textStyles__body--large {
  font-size: 20px;
}
.textStyles__body--small {
  padding-top: 4px;
  font-size: 14px;
}
.textStyles__foornote {
  padding-top: 6px;
  font-size: 12px;
}
.textStyles__legal {
  font-size: 10px;
}
.textStyles__alignText {
  text-align: center;
}
.textStyles__number {
  border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  margin-right: 2px;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}
.textStyles__number--green {
  background: #0fb000;
}
.textStyles__number--violet {
  background: #6700A9;
}
.textStyles__number--orange {
  background: #FE9800;
}
.textStyles__number--disabled {
  background-color: #C4C4C4;
}
.textStyles--clearGreen2 {
  color: #5C9247;
}
.textStyles--clearGreen {
  color: #8EC543;
}
.textStyles--darkGreen {
  color: #126A3A;
}
.textStyles--green {
  color: #0fb000;
}
.textStyles--purpe {
  color: #6700A9;
}
.textStyles--orange {
  color: #FE9800;
}
.textStyles--disabled {
  color: #C4C4C4;
}
.textStyles--white {
  color: white;
}
.textStyles--center {
  margin: 0 auto;
}

.card {
  background-color: #126a3a;
  background-image: url("../imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  margin-top: 30px;
  color: white;
  width: 402px;
  height: auto;
  padding: 20px;
  box-shadow: 6px 7px 9px rgba(0, 0, 0, 0.18);
  border-radius: 29px;
}
.card__methodology {
  display: flex;
  width: 295px;
  height: 237px;
  color: white;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #6700A9;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  border-radius: 29px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
.card__methodology--process {
  background-color: #AF3FF8;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
}
.card__question {
  background-color: #eae8e8;
  border-radius: 27px;
  width: 60%;
  height: auto;
  padding: 25px;
  text-align: center;
}
.card__code {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  border-radius: 20px;
  box-sizing: border-box;
}
.card__code--union {
  display: inline-flex;
  background-color: #8ec543;
  border-radius: 27px;
  padding: 25px;
  box-sizing: border-box;
}
.card__code--link {
  width: 130px;
  width: 151px;
  margin-right: 193px;
}
.card__code--qr {
  max-width: 40%;
  width: 40%;
}
.card__users {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}
.card__button {
  display: flex;
  justify-content: center;
}
.card__states {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.card__states--level {
  display: flex;
}
.card__states--figure {
  background-color: #6700a9;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  margin-right: 10px;
}
.card__states--progress {
  background-color: #8ec543;
  border-radius: 7px;
  padding: 3px;
  width: auto;
}
.card--containedUsers {
  height: 200px;
  padding-top: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.card--containedUsers--user {
  padding-right: 120px;
}
.card__progress {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card__progress--background {
  background-color: #188d4d;
  border-radius: 7px;
  width: 92%;
  height: 20px;
}
.card__progress--progressBar {
  background-color: white;
  border-radius: 7px;
  width: 40px;
  height: 20px;
}
.card--state {
  width: 100%;
  height: 60px;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.card--list {
  width: 95%;
  height: auto;
  color: white;
  margin-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
}
.card--list:hover {
  color: #C4C4C4;
}
.card--list:visited {
  color: #C4C4C4;
}
.card--green {
  background-color: #0fb000;
}
.card--purpe {
  background-color: #6700a9;
}
.card--orange {
  background-color: #fe9800;
}
.card--disabled {
  background-color: #C4C4C4;
}
.card--transparentViolet {
  background-color: rgba(103, 0, 169, 0.6);
}
.card--transparentGreen {
  background-color: rgba(15, 176, 0, 0.2);
}
.card--transparentOrange {
  background-color: rgba(254, 152, 0, 0.2);
}
.card--transparentDisabled {
  background-color: rgba(196, 196, 196, 0.5450980392);
  color: #919191;
}
.card--transparentDisabled:hover {
  color: black;
}

.dashboard {
  background-color: white;
}
.dashboard__desc {
  width: auto;
  background-color: rgba(217, 217, 217, 0.333);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.dashboard__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 500px;
}
.dashboard__info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.dashboard__stages {
  width: 244px;
  background-color: rgba(217, 217, 217, 0.333);
  padding: 15px;
  border-radius: 10px;
}
.dashboard__empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../imgs/fondo2.png");
  height: 500px;
}
.dashboard__search {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.dashboard__methodology {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard__methodology--intro {
  background-color: #6700A9;
  color: white;
  width: 100%;
  height: 391px;
  padding-left: 2%;
  padding-right: 4%;
  border-radius: 27px 27px 0px 0px;
  align-items: flex-end;
}
.dashboard__methodology--info {
  width: 35%;
  padding-bottom: 80px;
}
.dashboard__methodology--level {
  width: 20%;
  padding-bottom: 80px;
  opacity: 0.08;
}
.dashboard__methodology--features {
  width: 244px;
  height: 340px;
  background-color: rgba(217, 217, 217, 0.333);
  padding: 15px;
  margin-top: 50px;
  border-radius: 10px;
}
.dashboard--content {
  background-color: white;
  height: auto;
  display: flex;
  padding-left: 6%;
  padding-right: 6%;
}

.quadrant {
  width: 79%;
  background-color: rgba(217, 217, 217, 0.333);
  padding: 15px;
  border-radius: 10px;
  height: 700px;
}
.quadrant__horizontal {
  display: flex;
  width: auto;
}
.quadrant__vertical {
  width: 20%;
  margin-right: 5px;
  margin-bottom: 5px;
}
.quadrant__medium {
  width: 50%;
  padding: 6px;
  height: 123px;
  margin-right: 5px;
}
.quadrant__small {
  padding: 6px;
  width: 100%;
  height: 180px;
  margin-top: 5px;
}
.quadrant__long {
  padding: 6px;
  margin-top: 5px;
}
.quadrant--soyParte {
  background: rgba(103, 0, 169, 0.2);
  box-shadow: inset 0 0 0 2px #6700A9;
  box-sizing: border-box;
}
.quadrant--somosParte {
  background: rgba(15, 176, 0, 0.12);
  box-shadow: inset 0 0 0 2px #0FB000;
  box-sizing: border-box;
}
.quadrant--tomamosParte {
  background: rgba(254, 152, 0, 0.2);
  box-shadow: inset 0 0 0 2px #FE9800;
  box-sizing: border-box;
}
.quadrant--disabled {
  background: #e5e5e5;
  box-shadow: inset 0 0 0 2px #C4C4C4;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.filter--opcion {
  margin-right: 20px;
}

.images--small {
  width: 10%;
}
.images--medium {
  height: auto;
}
.images--big {
  width: 100%;
}
.images--icon {
  position: absolute;
  display: flex;
  width: 96%;
  padding-bottom: 50px;
  top: -10px;
  justify-content: flex-end;
}
.images__resume {
  background-image: url("../arbolCompromisos.png");
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: none;
  transition: opacity 0.5s ease;
  opacity: 0;
  color: green;
}
.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__content {
  padding: 60px 50px 60px;
  box-sizing: border-box;
  border-radius: 30px;
  background-repeat: no-repeat;
  margin: 10% auto;
  width: 100%;
  max-width: 1094px;
  max-height: 608px;
  transition: transform 0.5s ease;
  transform: translate(0px, -500px);
  position: relative;
  background-color: #efefef;
}
.modal__close {
  position: absolute;
  width: 40px;
  top: -15px;
  right: -12px;
}
@media (max-width: 989px) {
  .modal {
    padding: 0;
  }
  .modal__content {
    padding: 90px 5% 60px 5%;
    margin: 23% 0%;
    transform: translateX(0px);
  }
}
.modal__head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.modal__head--items {
  display: flex;
  flex-direction: column;
}
.modal__head--img {
  width: 60%;
  padding-right: 20px;
}/*# sourceMappingURL=main.css.map */